body {
background-color: #AAD2FE;
}

.container {
display: flex;
justify-content: center;
margin-top: 60px;
}

.block {
    display: flex;
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
  align-items: center; 
  
  
}
h1 {
    font-size: 30px;
    font-family: 'Lora', serif;
    color: #0E185F;
}

.btn {
font-size: 20px;
font-family: 'Lora', serif;
margin: 20px;
padding: 5px;
color: #0E185F;
border-radius: 5px;

}
input {
    font-size: 20px;
    font-family: 'Lora', serif;
    width: 60%;    
    color: #0E185F;
    margin-bottom: 30px;
    padding: 10px;
}
ul,li  {
  list-style-type: none;
}


.add, .delete {
    padding: 10px;
    margin: 10px;
}

